<html>

<head>
	<title>Create article page</title>
	<meta name="description" content="Create article page">
	<meta name="keywords" content="Article, create your article">
	<meta name="author" content="Thang Jenny">
	<meta name='viewport' content='width=device-width, inital-scale=1.0'>
	<link rel='stylesheet' href="/static/css/styles.css">
</head>

<body>
	<main>
		<div class="container">
			<h3 class="container-title">Adding article page</h3>
			<form action='/add_article' method='post' class="form">
				<div class="text-field">
					<input type="text" name="title" placeholder="Type your title for your whole article">
				</div>
				<div class="text-field">
					<input type="text" name="content" placeholder="Type your content for your whole article">
				</div>
				<div class="center-block">
					<button type="submit" an class="form-button">Submit now</button>
				</div>
			</form>
		</div>
	</main>
</body>

</html>
