<html>

<head>
	<title>Homepage</title>
	<meta name="description" content="Home page ">
	<meta name="keywords" content="Article, create your article">
	<meta name="author" content="Thang Jenny">
	<meta name='viewport' content='width=device-width, inital-scale=1.0'>
	<link rel='stylesheet' href="/static/css/styles.css">
</head>

<body>
	<main>
		<h2>Homepage</h2>
		<header>
			<div>Logo</div>
			<div>
				<a href='/article'>Adding the artilce page</a>
			</div>
		</header>

	</main>
</body>

</html>
